.container {
  margin-top: 50px !important;
}

th {
  vertical-align: middle;
  text-align: center;
}

td {
  vertical-align: middle;
  text-align: center;
}

td a, td input, td img, td button {
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

button {
  min-width: 80px;
}

button.btn-sm {
  min-width: 40px;
}

.progress {
  height: 25px;
  min-width: 100px;
}